.main-header{
    color:white;
    padding-top:3em;
    text-align: center;
}

.header-text {
    font-family: 'jep';
    font-size:5em;
}
.sub-text {
    font-size:2em;

}
.hero {
    background-image:
    linear-gradient(black, black),
    url("../images/1.jpg");
    width:100vw;
    background-size: cover;
    background-blend-mode: saturation;
    height:100vh;
}