<div class = "wrapper">
    <div class="search-footer">
        <span class="btn btn-large btn-info update" (click)="updateShow()">Update Show</span>
      </div>
    
    <div class="board" *ngIf="!currentQuestion">
        <ul class="categories" *ngIf="board">
          <li *ngFor="let category of board">
            <span class="category-name" [innerHTML]="category.title">
            
            </span>
            <ul class="category">
              <li *ngFor="let question of category.clues; let i=index" (click)="setCurrentQuestion(question)">
                <div *ngIf="i<5">
                  <span class="question-value" *ngIf="question.value">
                    ${{question.value}}
                  </span>
                  <span class="question-value" *ngIf="!question.value">
                      $100
                  </span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="question-display" *ngIf="currentQuestion">
       <span class="question" [innerHTML]="">
          Question: {{currentQuestion.question}}
       </span><br/>
       <span class="answer" *ngIf="revealAnswer">
          Answer: {{currentQuestion.answer}}
       </span> <br/>
               <span class="btn btn-large btn-info" (click)="showerAnswer()"> 
            Show Answer
           </span>
           <br/>           <br/>
       <span class="btn btn-large btn-info" (click)="clearCurrentQuestion()"> 
         &lt; Back
        </span>      
      </div>
</div>
