<div class = "wrapper">
    <div class="search-footer">
        <span class="btn btn-large btn-info update" (click)="getBoard()">Update Show</span>
      </div>
    
    <!-- <table >
    
      <thead>
        <th *ngFor="let category of board">
        </th>
      </thead>

        <tr *ngFor="let category of board">
          <div *ngFor="let question of category.clues; let i=index" (click)="setCurrentQuestion(question)">
            <td>
              ppop
            </td>
          </div>
        </tr>

    </table> -->

    <table class="table" *ngIf="!currentQuestion">
        <tr>
          <th *ngFor="let category of board">
              {{category.title}}
            </th>
        </tr>
        <tr *ngFor="let category of board">
          <td *ngFor="let question of category.clues; let i=index">
            <a *ngIf="i<5" (click)="setCurrentQuestion(question)">
              ${{question.value}}
            </a>
          </td>
        </tr>
      </table>
      <div class="question-display" *ngIf="currentQuestion">
       <span class="question" [innerHTML]="">
          Question: {{currentQuestion.question}}
       </span><br/>
       <span class="answer" *ngIf="revealAnswer">
          Answer: {{currentQuestion.answer}}
       </span> <br/>
               <span class="btn btn-large btn-info" (click)="showerAnswer()"> 
            Show Answer
           </span>
           <br/>           <br/>
       <span class="btn btn-large btn-info" (click)="clearCurrentQuestion()"> 
         &lt; Back
        </span>      
      </div>
</div>
