@import '../../../assets/scss/partials/layout.vars';
@import '../../../assets/scss/partials/responsive.partial';

.board {
  width: 100%;
  margin: auto;
}
ul.categories {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

ul.categories>li {
  float: left;
  text-align: center;
  margin: 20px;
  height: 110px;
}

ul.category {
  list-style-type: none;
}

ul.category>li {
  margin: 20px;
  height: 80px;
  text-align: center;
}
.category {
  width:200px;
}
.category-name {
  font-weight: 400;
  font-size: 1.3em;
  color: black;
  max-width: 280px;
  display: block;
  height: 90px;
}


.question-value {
  font-weight: 400;
  font-size: 1.3em;
  color: black;
  text-align: center;
  cursor: pointer;
}

.question-value {
  border:1px;
}
.search-footer {
  width: 100%;
  height: 60px;
  background: #6cf;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.question-display {
  text-align: center;
}


.question {
  color: black;
  font-size: 40px;
}

.answer {
  color: black;
  font-size: 30px;
}

.update {
  width:10em;
  margin-left:1em;
}